linux-xlnx
*/config.old
*/pre-built/
*/build/
*/images/
*/components/
*/tmp/
*/.Xil/
!.petalinux/metadata

*.bit
*.hdf*

*.jou
*.log

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
zedboard/hardware/quad_dma/quad_dma.cache
zedboard/hardware/quad_dma/quad_dma.hw
zedboard/hardware/quad_dma/quad_dma.ip_user_files
zedboard/hardware/quad_dma/quad_dma.runs
zedboard/hardware/quad_dma/quad_dma.sdk
zedboard/hardware/quad_dma/quad_dma.sim
zedboard/hardware/quad_dma/quad_dma.xpr
